/* Reset */
html, body, header, main, footer, h1, h2, h3, h4, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mão na Massa */
body {
    display: flex;
    flex-wrap: wrap;
}

.kata {
    width: 100px;
    height: 200px;
}